<mat-toolbar class="filter-main">
    <div class="filter-wrapper">
        <ul class="filter-type">
            <li class="filter-item">
                <p class="filter-text">Sorting by:</p>
            </li>
          <li class="filter-item">
            <a class="filter-link">date</a>
          </li>
          <li class="filter-item">
            <a class="filter-link" href="#">count of views</a>
          </li>
          <li class="filter-item">
            <a class="filter-link" href="#">by word or sentance</a>
          </li>
          <li>
            <input class="form-control search-field" type="search" id="query" style="width:100%;"
            placeholder="">
          </li>
        </ul>
      </div>

</mat-toolbar>