<mat-toolbar class="header-main" color="#E5E5E5;">
    <app-logo></app-logo>

    <form class="searchBox">
        <div class="example-button-row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search">
            </mat-form-field>
            <button mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>
    <app-search-button></app-search-button>

    <app-login></app-login>
</mat-toolbar>
