:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px ;
}

.searchBox {
    text-align: center;
    padding: 2px 6px;
    position: relative;
    align-items: center;
    width: 70%;
}