.search-result-block {
    padding: 100px 152px 100px 152px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1600;
    gap: 28px ;
    max-width: 100%;

}

.results-item {
    margin: 0 10px;
  }